# App configuration
NEXT_PUBLIC_APP_NAME=NextDash
NODE_ENV=development

# Better Auth configuration
BETTER_AUTH_SECRET=O1Uf7YRjL2kFu8EnBDmfCgxWY3139ywp
BETTER_AUTH_URL=http://localhost:3000 

# Database configuration
DATABASE_URL="postgresql://postgres:1234@localhost:5432/nextdash"


# OAUTH configuration
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
FACEBOOK_CLIENT_ID=your-facebook-client-idv
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret
